{% extends 'user/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div>
    <div>
        <header><h2>Sign up</h2></header>
        <section>
            <form class="form-signin" method="POST" action="{{ url_for('user.signup', next=request.args.get('next')) }}" novalidate="novalidate">
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div>{{ message }}</div>
                {% endfor %}
                {{ form.username(size=30, class="form-control", placeholder="Username") }}
                {{ form.email(class="form-control", placeholder="Email") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}