{% extends 'file/base.html' %}
{% block content %}
<div>
    <form method="post" enctype="multipart/form-data" id="detect" novalidate>
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
            <span class="dt-auth-flash">{{ message }}</span>
        {% endfor %}
        <div>
            {{ form.model(class="form-control") }}
        </div>
        <div>
            {{ form.video(class="form-control", id="input_video") }}
        </div>
        {% for error in form.video.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        <div>
            <label>{{ form.submit(class="btn btn-primary") }}</label>
        </div>
    </form>
    <hr />
    <div class="row row-cols-2 gx-5">
        <div class="col bg-primary">
            <video id="upload_video" class="img-fluid" controls></video>
        </div>
        <div class="col bg-secondary">
            <video id="detected_video" class="img-fluid" controls></video>
        </div>
    </div>

    
</div>

<script>
    const form = document.getElementById('detect');
    const input_video = document.getElementById('input_video');
    const upload_video = document.getElementById('upload_video');
    const detected_video = document.getElementById('detected_video');

    input_video.addEventListener('change', (e) => {
        const files = e.target.files;
        if (files.length > 0) {
            upload_video.src = URL.createObjectURL(files[0]);
        } else {
            upload_video.src = "";
        }
    })

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        formData.append('submit', "Upload");

        const mediaSource = new MediaSource();
        detected_video.src = URL.createObjectURL(mediaSource);

        mediaSource.addEventListener("sourceopen", async () => {
            const mimeCodec = 'video/mp4; codecs="avc1.42E01E"'; // H.264
            const sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);

            const response = await fetch("{{ url_for('detect.detect_videos') }}", {
                method: "POST",
                body: formData
            });

            if (!response.body) {
                console.error("ReadableStream not supported.");
                return;
            }

            const reader = response.body.getReader();

            const processChunk = ({ done, value }) => {
                if (done) {
                    mediaSource.endOfStream();
                    return;
                }

                // value는 Uint8Array(chunk)
                sourceBuffer.appendBuffer(value);

                // append 완료 후 다음 chunk 처리
                sourceBuffer.addEventListener("updateend", () => {
                    reader.read().then(processChunk);
                }, { once: true });
            };

            reader.read().then(processChunk);
    })
</script>
{% endblock %}